################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CartonCaps.Api/CopilotIndices/17.13.441.19478/SemanticSymbols.db-shm
/tests/Api.Tests/obj/Debug/net9.0/Api.Tests.AssemblyInfo.cs
*.db-wal
*.vsidx
/.vs/CartonCaps.Api/FileContentIndex/a6350613-563d-4d4c-88e6-8b2a23ef7b4a.vsidx
/.vs/CartonCaps.Api/FileContentIndex/cd9be529-1d88-4c69-b98d-56a534b8a34f.vsidx
/tests/Api.Tests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_Api.Tests
/tests/Api.Tests/bin/Debug/net9.0/CoverletSourceRootsMapping_Api.Tests
/tests/Api.Tests/obj/Debug/net9.0/Api.Tests.AssemblyInfoInputs.cache
/tests/Application.Tests/bin/Debug/net9.0/.msCoverageSourceRootsMapping_Application.Tests
/tests/Application.Tests/bin/Debug/net9.0/CoverletSourceRootsMapping_Application.Tests
/tests/Application.Tests/obj/Debug/net9.0/Application.Tests.AssemblyInfoInputs.cache
/tests/Application.Tests/obj/Debug/net9.0/Application.Tests.AssemblyInfo.cs
/.vs/CartonCaps.Api/CopilotIndices/17.13.441.19478/SemanticSymbols.db
/.vs/CartonCaps.Api/DesignTimeBuild/.dtbcache.v2
/.vs/CartonCaps.Api/v17/TestStore/0/001.testlog
/.vs/CartonCaps.Api/v17/DocumentLayout.json
/.vs/CartonCaps.Api/v17/DocumentLayout.backup.json
/.vs/CartonCaps.Api/v17/.suo
/.vs/CartonCaps.Api/FileContentIndex/67caa6f4-1a63-4463-9466-f5e9e8dc7f9c.vsidx
/.vs/ProjectEvaluation/cartoncaps.api.metadata.v9.bin
/.vs/ProjectEvaluation/cartoncaps.api.projects.v9.bin
/.vs/ProjectEvaluation/cartoncaps.api.strings.v9.bin
/src/Api/bin/Debug/net9.0/Api.dll
/src/Api/bin/Debug/net9.0/Api.exe
/src/Api/bin/Debug/net9.0/Api.pdb
/src/Api/bin/Debug/net9.0/Application.dll
/src/Api/bin/Debug/net9.0/Application.pdb
/src/Api/bin/Debug/net9.0/Domain.dll
/src/Api/bin/Debug/net9.0/Domain.pdb
/src/Api/bin/Debug/net9.0/Persistence.dll
/src/Api/bin/Debug/net9.0/Persistence.pdb
/src/Api/obj/Debug/net9.0/ref/Api.dll
/src/Api/obj/Debug/net9.0/Api.AssemblyInfo.cs
/src/Api/obj/Debug/net9.0/Api.AssemblyInfoInputs.cache
/src/Api/obj/Debug/net9.0/Api.csproj.AssemblyReference.cache
/src/Api/obj/Debug/net9.0/Api.csproj.FileListAbsolute.txt
/src/Api/obj/Debug/net9.0/Api.dll
/src/Api/obj/Debug/net9.0/Api.pdb
/src/Api/obj/Debug/net9.0/Api.sourcelink.json
/src/Api/obj/Debug/net9.0/apphost.exe
/src/Api/obj/Debug/net9.0/refint/Api.dll
/tests/Application.Tests/obj/Debug/net9.0/Applicat.7AAE1402.Up2Date
/tests/Application.Tests/obj/Debug/net9.0/Application.Tests.csproj.AssemblyReference.cache
/tests/Application.Tests/obj/Debug/net9.0/Application.Tests.csproj.CoreCompileInputs.cache
/tests/Application.Tests/obj/Debug/net9.0/Application.Tests.csproj.FileListAbsolute.txt
/tests/Application.Tests/obj/Debug/net9.0/Application.Tests.dll
/tests/Application.Tests/obj/Debug/net9.0/Application.Tests.genruntimeconfig.cache
/tests/Application.Tests/obj/Debug/net9.0/Application.Tests.pdb
/tests/Application.Tests/obj/Debug/net9.0/Application.Tests.sourcelink.json
*.dll
/tests/Api.Tests/bin/Debug/net9.0/Api.exe
/tests/Api.Tests/bin/Debug/net9.0/Api.pdb
/tests/Api.Tests/bin/Debug/net9.0/Api.Tests.pdb
/tests/Api.Tests/bin/Debug/net9.0/Application.pdb
/tests/Api.Tests/bin/Debug/net9.0/Domain.pdb
/tests/Api.Tests/bin/Debug/net9.0/Persistence.pdb
/src/Persistence/obj/Debug/net9.0/ref/Persistence.dll
/src/Persistence/obj/Debug/net9.0/refint/Persistence.dll
/src/Persistence/obj/Debug/net9.0/Persistence.AssemblyInfo.cs
/src/Persistence/obj/Debug/net9.0/Persistence.AssemblyInfoInputs.cache
/src/Persistence/obj/Debug/net9.0/Persistence.csproj.AssemblyReference.cache
/src/Persistence/obj/Debug/net9.0/Persistence.csproj.FileListAbsolute.txt
/src/Persistence/obj/Debug/net9.0/Persistence.pdb
/src/Persistence/obj/Debug/net9.0/Persistence.sourcelink.json
/src/Application/bin/Debug/net9.0/Application.pdb
/src/Application/bin/Debug/net9.0/Domain.pdb
/src/Application/obj/Debug/net9.0/ref/Application.dll
/src/Application/obj/Debug/net9.0/refint/Application.dll
/src/Application/obj/Debug/net9.0/Application.AssemblyInfo.cs
/src/Application/obj/Debug/net9.0/Application.AssemblyInfoInputs.cache
/src/Application/obj/Debug/net9.0/Application.csproj.AssemblyReference.cache
/src/Application/obj/Debug/net9.0/Application.csproj.FileListAbsolute.txt
/src/Application/obj/Debug/net9.0/Application.pdb
/src/Application/obj/Debug/net9.0/Application.sourcelink.json
/src/Domain/bin/Debug/net9.0/Domain.dll
/tests/Application.Tests/bin/Debug/net9.0/Application.pdb
/tests/Application.Tests/bin/Debug/net9.0/Application.Tests.deps.json
/tests/Application.Tests/bin/Debug/net9.0/Application.Tests.pdb
/tests/Application.Tests/bin/Debug/net9.0/Application.Tests.runtimeconfig.json
/tests/Application.Tests/bin/Debug/net9.0/Domain.pdb
/tests/Application.Tests/bin/Debug/net9.0/NUnit3.TestAdapter.pdb
/tests/Application.Tests/bin/Debug/net9.0/testhost.exe
/tests/Api.Tests/obj/Debug/net9.0/ref/Api.Tests.dll
/tests/Api.Tests/obj/Debug/net9.0/refint/Api.Tests.dll
/tests/Api.Tests/obj/Debug/net9.0/Api.Tests.csproj.AssemblyReference.cache
/tests/Api.Tests/obj/Debug/net9.0/Api.Tests.csproj.FileListAbsolute.txt
/tests/Api.Tests/obj/Debug/net9.0/Api.Tests.pdb
/tests/Api.Tests/obj/Debug/net9.0/Api.Tests.sourcelink.json
/src/Persistence/bin/Debug/net9.0/Application.pdb
/src/Persistence/bin/Debug/net9.0/Domain.pdb
/src/Persistence/bin/Debug/net9.0/Persistence.pdb
/src/Domain/obj/Debug/net9.0/Domain.AssemblyInfo.cs
/src/Domain/obj/Debug/net9.0/Domain.AssemblyInfoInputs.cache
/src/Domain/obj/Debug/net9.0/Domain.csproj.FileListAbsolute.txt
/src/Domain/obj/Debug/net9.0/Domain.pdb
/src/Domain/obj/Debug/net9.0/Domain.sourcelink.json
/src/Domain/bin/Debug/net9.0/Domain.pdb
/src/Domain/obj/Debug/net9.0/ref/Domain.dll
/src/Domain/obj/Debug/net9.0/refint/Domain.dll
